 /**
 * Page control
 */
.BPage{}

/**
* Page Template control
*/
.BPageTemplate{}

 /**
 * Label Control
 */
.BLabel{}

 /**
 * Textbox control
 */
.BTextbox{
	height:20px;
}

 /**
 * Button control
 */
.BButton{
 	padding:3px 10px 4px; 
 	-moz-box-sizing: border-box;
 	-ms-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	}
.BButton label{}
.BButton:hover{}
 
 /**
 * DropDown Control
 */
.BDropDown{}
.BDropDown:focus{}
.BDropDownOption{}

/**
* MultiSelect control
*/
.BMultiSelect{}

/**
 * CheckBoxList control
 */
.BCheckBoxList {}
.BCheckBoxListItemContainer {
	float: left;
}
.BCheckBoxList input{
 	float:left;
 	margin-right:4px;
}
.BCheckBoxList label{}
 
/**
* RadioButtonList Control
*/
.BRadioButtonList{}
.BRadioButtonListItemContainer{
 	float:left;
}
.BRadioButtonList input{
 	float:left; 
 	margin-right:4px;
}
.BRadioButtonList label{}
 
/**
* Fieldset Control
*/
.BFieldset{}
 
/**
* Legend Control
*/
.BLegend{
}
 
/**
* Datagrid
*
*/
.BDataGrid {
	position:relative;
	clear:left;
}

/**
 * Datagrid Empty Template
 *
 */
.BDataGridEmptyTemplate{
	margin-left:2px;
}

 /**
 * Datagrid List Render
 *
 */
.BDataGridListRender{}

 /**
 * Datagrid Table List Render
 *
 */
.BDataGridTableListRender table{
	position:relative;
	width:100%;
}
.BDataGridTableListRender th{}
.BDataGridTableListRenderRow{}
.BDataGridTableListRenderRowAlt{}
.BDataGridTableListRenderSelected{}
.BDataGridTableListRenderMouseover{}

 /**
 * Datagrid Tile List Render
 *
 */
.BDataGridTileListRender{}
.BDataGridTile{
	float:left;
}
.BDataGridTileItem{}
.BDataGridTileItemAlt{}
.BDataGridTilePlaceHolder{
	float:left;position:relative;
}
.BDataGridTileTilePlaceHolderSelected{}
.BDataGridTileSelected{}
.BDataGridTileMouseOver{}

 /**
 * Datagrid Tree List Render
 *
 */
.BDataGridTree{}
.BDataGridTreeItemHolder{
	margin-left:20px;
}
.BDataGridTreeItemHolderRoot{}
.BDataGridTreeToggle{
	float:left;
	width:20px;
	height:20px; 
}
.BDataGridTreeEmptyNode{
	float:left;
	width:20px;
	height:20px;
}
.BDataGridTreeLoader{
	width:16px; 
	height:16px;
	margin-left:20px;
	float:left;
}
.BDataGridTreeLoadNextButton{
	margin-left:20px;
	float:left;
}
.BDataGridTreeLoadNextButtonRoot{}
.BDataGridTreeNodeClosed{}
.BDataGridTreeNodeClosed:hover{}
.BDataGridTreeNodeOpen{}
.BDataGridTreeNodeOpen:hover{}
.BDataGridTreeNodeEmpty{
	float:left;
	width:20px;
	height:20px;
}
.BDataGridTreeItemRender{
	padding-right:2px;
	padding-left:2px;
	border-radius:2px;
	-moz-border-radius: 2px; 
}
.BDataGridTreeItemRender:hover{
	display:inline-block;
}
.BDataGridTreeItemRenderSelected{}

/**
* Datagrid control panel
*
*/
.BDataGridControlPanelTop{
	width:100%;
	float:left;
}
.BDataGridControlPanelCenter{
	padding-top:2px;
	padding-bottom:2px;
	float:left;
	width:100%;
}
.BDataGridControlPanelBottom{
	float:left;
	width:100%;
	padding-top:2px;
	padding-bottom:2px;
}
.BDataGridControlPanelBottom .BButton{
	margin:0;
	margin-left:1px;
	margin-right:1px;
}
.BDataGridControlPanelBottom .BDropDown{}
.BDataGridControlArrow{
	margin-top:8px;
	margin-left:4px;
	float:left;
	width:16px;
	height:16px;
}

/**
* Datagrid filters
*
*/
.BDataGridFilter{
	margin-left:2px;
}
.BDataGridSearchFilter{
	float:right;
}
.BDataGridPagerFilter{
	float:right;
}
.BDataGridPagerFilter .BDropDown{
	width:50px;
	height:24px;
	float:right;
	margin-right:2px;
}
.BDataGridPagerFilter .BButton{
	padding-left:5px;
	padding-right:5px;}
.BDataGridPagerFilter .BLabel{}
.BDataGridPagerFilterButtonContainer{
	float:left;
}
.BDataGridPagerFilterButton{}
.BDataGridPagerFilterButtonSelected{}

 /**
 * Modal Control
 */
.BModal{
	z-index:99999;
	position:absolute;
	border-radius:4px;
	-moz-border-radius: 5px;
}
.BModalTitle{
	padding-left:5px;
}
.BModalCover{
	z-index:99999;
	width:100%;
	height:100%;
	left:0px;
	top:0px; 
	position:fixed;
}
.BModalControlBar{
	height:20px; 
	width:100%;
}
.BModalAntiPadding{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:4px;
}
.BModalContent{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:2px;
}
.BModalButtonContainer{
	width:100%;
	margin-top:5px;
	margin-bottom:2px;
}

/**
 * Confirm modal
 *
 */
.BConfirmModal {}
.BConfirmModalImage{}
.BConfirmModalContainer {
	float: left;
	width: 85%;
}
.BConfirmModalTitle {
	margin-bottom: 10px;
	margin-top: 5px;
}
.BConfirmModalText {}

/**
 * Window
 */
.BWindow {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.BWindow .BWindowHeader {	}
.BWindow .BWindowHeader .BWindowSwitch {
	margin: 2px 5px;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
}
.BWindow .BWindowHeader .BWindowTitle {
	font-size: 12px;
	display: inline-block;
}
.BWindow .BWindowContent {
	font-size:12px;
	margin: 0px 2px 2px 2px;
}

/**
 * Loader
 *
 */
.BLoader{
	width:280px;
	z-index:9999999;
	left:0;
	right:0;
	margin:auto;
	position:fixed;
	padding:10px;
} 
.BLoaderCover {
	height:100%;
	top:0;
	z-index:9999998;
	width:100%;
	position:absolute;
}
.BLoaderTransparantContainer{
	height:30px;
	border-radius:5px;
	-moz-border-radius: 5px;
} 
.BLoaderContainer{
}
.BLoaderImage{
	float:left;
	width:30px;
	height:30px;
}
.BLoaderTextLabel{
	float:left;
	width:80%;
	margin-left:20px;
	margin-top:5px;
	font-weight:bold;
}
  
 /**
 * Label decorator control
 */
.BLabelDecorator{
	margin: 4px;
	position:relative
}
.BLabelDecorator .BLabelDecoratorLabel{
	width:30%;
	display:inline-block;
	vertical-align:top;
}
.BLabelDecorator .BInfoDecorator{
	width:65%;
}
.BLabelDecorator input[type="text"]{
	width:65%;
}
.BLabelDecorator .BDatePickerTextBox{
	width:70px !important;
}
.BLabelDecorator textarea[type="text"]{
	width:65%;
}
.BLabelDecorator select{
	width:65%;
}
.BLabelDecoratorRight{
	width:100%; 
	clear:both;
}
.BLabelDecoratorRightLabel{
	width:50%; 
	float:left;
}
.BLabelDecoratedControl{
	display:inline-block;
}

/**
 *  Info Decorator
 */
.BInfoDecorator input[type="text"] {
	width: 100% !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.BInfoDecorator select[type="text"] {
	width: 100% !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.BInfoDecorator textarea[type="text"] {
	width: 100% !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.BInfoDecoratorInfoImage {
	float: left;
	margin-top: 2px;
	margin-left: -30px;
	height: 16px;
	width: 16px;
}

/**
* Validator
*
*/
.BValidatorArrow {
	z-index: 100;
	margin-left: 3px;
	float: left;
	width: 10px;
	height: 20px;
	position: absolute;
}
.BValidatorStar {
	top: 0;
	float: left;
	width: 10px;
	height: 20px;
	position: absolute;
}
.BValidatorLabel {
	height: 20px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}
.BValidatorInfo {
	z-index: 100;
	white-space: nowrap;
	position: absolute;
	height: 20px;
	margin-top: -0px;
	margin-left: 10px;
}
.BValidatorIconPlaceHolder {
	width: 10px;
	margin-left: -11px;
	display: inline-block;
	height: 20px;
	vertical-align: top;
}
.BValidatorInfoPlaceHolder {
	position: relative;
	width: 3px;
	margin-left: -3px;
	display: inline-block;
	height: 20px;
	vertical-align: top;
}
.BValidatorDecorated {
	display: inline-block;
}
.BValidatorControlInvalidated {
	border: 1px solid red;
	box-sizing: border-box;
}