 /**
 * Page control
 */
.BPage{
	font-size:16px;
	color:white;
	background-color:#222222;
}


 /**
 * Label Control
 */
.BLabel{}
 
 /**
 * TextBox Control
 */
.BTextbox{
	background-color:#444444;
	color:white;
	border:1px solid #777777;
}
.BTextbox:focus{ 
	border:1px solid lightblue;
}

 /**
 * Button control
 */
 .BButton{
 	background-repeat: repeat-x;
 	background-color:#333333;
 	color:white;
 	border:1px solid #666666;
 	border-radius:3px;
 	-moz-border-radius: 3px;
 	font-size:12px;
 	cursor:pointer; 
 }
 .BButton label{
 	cursor:pointer;
 }
 .BButton:hover{
 	background-color:#444444;
 }

 /**
 * DropDown Control
 */
.BDropDown{
	background-color:#444444;
	color:white;
	border:1px solid #777777;
}
.BDropDown:focus{
	border:1px solid lightblue;
}
.BDropDownOption{}

 /**
 * CheckBoxList Control
 */
 .BCheckBoxList{}
 .BCheckBoxListItemContainer{}
 
  /**
 * RadioButtonBoxList Control
 */
 .BRadioButtonList{}
 .BRadioButtonListItemContainer{}

 /**
 * Fieldset Control
 */
 .BFieldset{
 	border-color:#999999;
 }
 
 /**
 * Legend Control
 */
 .BLegend{
 }

 /**
 * Modal Control
 */
.BModal{
	background-color:#444444;
	border:1px solid #666666;
}

.BModalCover{
	background-color:#222222;
	opacity:0.7;
	filter:alpha(opacity=70); 
}

.BModalTitle{
	color:white;
	font-weight:bold;
}

.BModalContent{
	color:white;
	border:1px solid #666666;
}

 /**
 * Label decorator control
 */
.BLabelDecorator{
	
}
.BLabelDecorator .BLabelDecoratorLabel{}
.BLabelDecorator .BInfoDecorator{}
.BLabelDecorator input[type="text"]{}
.BLabelDecorator .BDatePickerTextBox{}
.BLabelDecorator input[disabled="disabled"] { 
	color:#888888;background-color:#eeeeee;
}
.BLabelDecorator input[disabled=""] {
	color:#888888;background-color:#eeeeee;
}
.BLabelDecorator select[disabled="disabled"] { 
	color:#888888;background-color:#eeeeee;
}
.BLabelDecorator select[disabled=""] { 
	color:#888888;background-color:#333333;
}
.BLabelDecorator textarea[type="text"]{}
.BLabelDecorator select{}
.BLabelDecoratorRight{}
.BLabelDecoratorRightLabel{}
.BLabelDecoratedControl{}













