body {
	letter-spacing: .05px;
	font-size: 14px;
	font-weight: 200;
	letter-spacing: 0.75px;
	line-height: 19px;
	font-family: verdana;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color:#a58266;	 
}


.template{
	background-color:a58266;
}

.topBar{height:50px; background-color:#b99870;width:100%;}

.pageContent{
	padding: 10px;
	top:50px;
	border-radius: 15px;
	width: 100%;
	max-width:950px;
	left: 0;
	right: 0;
	margin: auto;
	height: auto;
	margin-top: 30px;
	border-bottom-left-radius: 0px;	
}

.footer {
	background-color: black;
	width: 100%;
	height: 70px;
	bottom: 0;
	margin:0px;
	float:left;
	margin-top:250px;	
}

.title{
	color:white;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:-0.05em;
	font-size:2.3em;
	margin-bottom:5px;
}

.subTitle {
	font:1.5em/1.5em 'Chivo', Helvetica, Arial, sans-serif;
	color:#333333;
}


.menugrid{
	color:white;
	margin-top:50px;
	margin-bottom:50px;
	font-size:14px;
	padding:0;
	float:left;
}

.menuitem{
	
	border-radius:5px;
	margin:10px;
	margin-right:40px;
	cursor:pointer;
}

.menuitemHover{
	background-color:#b99870;
}

.menuExample{
	background-image: url(../images/example.png);
	width:138px;
	height:138px;
}

.menuDownload{
	background-image: url(../images/download.png);
	width:138px;
	height:138px;
}

.menuDocumentation{
	background-image: url(../images/documentation.png);
	width:138px;
	height:138px;
}


.summaryText {
	line-height: 25px;
	margin-top: 10px;
	font-size: 14px;
	color:white;
	width:100%;
	float:left;
}

.toplink{
letter-spacing: 2.75px;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	margin: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}









.BPage{
	font-family:Helvetica, Arial, sans-serif;
	background-color:transparent !important;
}

.BPageTemplate{}

.header:link {
	color:red;
}

.header:visited{
	color:blue;
}
.Header {
	margin:10px;
	margin-bottom:2px;
}

.toppanel {
	width: 100%;
}

.headerButtons{
	
	float:right;
	height:5px;font-size:15px;font-weight:100;
	margin-top:15px;
}

.HomeLink{
color:white;
font-weight:bold;
text-decoration:none;
text-transform:uppercase;
letter-spacing:-0.05em;
font-size:2.3em;

}

.frameworktitle {
	margin-left:10px;
	margin-top:10px;
	font-size:17px;
	font:1.5em/1.5em 'Chivo', Helvetica, Arial, sans-serif;
	color:black;
}

.BDemoHome{
	
}

.HomeTiles{
	background-color:transparent;
}

.HeaderText {
	float: left;
	font-size: 16px;
	margin: 5px;
	color:white;
	color: #341570;
	font-weight: bold
}

.backgroundPanel{
	
	
}
.MainContainer {
	padding: 2px;
	top:50px;
	z-index:3; 
	border: 1px solid #999999;
	border-radius: 15px;
	position:absolute;
	width: 70%;
	left: 0;
	right: 0;
	margin: auto;
	height: auto;
	margin-top: 20px;
	border-bottom-left-radius: 0px;
}

.TextPanel {
	font-size: 19px;
	border: 2px solid #666666;
	background-color: #eeeeee;
	padding: 2px;
	margin: 3px;
	border-radius: 4px;
}

.TextPanelTitle {
	color: #444444;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: bold;
}

.TextPanelText {
	color: #555555;
}

.buttonLabel {
	position: absolute;
	font-size: 20px;
	display: block;
	margin-top: 30px;
	margin-left: 10px;
	color: #444444;
}

.button {
	position: relative;
	height: 100px;
	background-color: #eeeeee;
	margin: 3px;
	border: 1px solid #666666;
	border-radius: 4px;
}

.button:hover {
	background-color: lightblue;
}

.TopButtonContainer {
	margin-top: 4px;
	width: 100%;
	height: 35px;
}

.TopButtonContainer .BButton {
	background-color: #5770C2;
	color: white;
	font-size: 18px;
	margin-right: 4px;
	border: 2px solid #555555;
	text-align: center;
	width: 175px;
	float: left;
	background-image: none;
}

.TopButtonContainer .BButton:hover {
	background-color: #C25765;
}


.IntroLeft {
	width: 100%;
	display: inline-block;
}

.IntroRight {
	width: 0%;
	background-color: red;
	display: inline-block;
}


.rightpanel {
	width: 60%;
	float: left;
	background-color: #444444;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.leftpanel {
	width: 40%;
	background-color: #777777;
	float: left;
}

.buttonPanel {
	width: auto;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border: 5px solid #888888;
}


.frameworkexpl {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 20px;
}

.bottom {
	left: 0;
	right: 0;
	padding: 20px;
	border-top: 0px solid red;
	margin: 0px;
	clear: left;
	border-radius: 0 px;
}



li {
	color: #111111;
	line-height: 25px;
	font-size: 17px;
	list-style: square;
	letter-spacing: 2.2px;
}

ul {
	margin: 0;
}



.menusub {
	letter-spacing: 2.75px;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	margin: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	border: 2px solid #888888;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
background-image: linear-gradient(bottom, rgb(51,51,51) 31%, rgb(68,68,68) 60%);
background-image: -o-linear-gradient(bottom, rgb(51,51,51) 31%, rgb(68,68,68) 60%);
background-image: -moz-linear-gradient(bottom, rgb(51,51,51) 31%, rgb(68,68,68) 60%);
background-image: -webkit-linear-gradient(bottom, rgb(51,51,51) 31%, rgb(68,68,68) 60%);
background-image: -ms-linear-gradient(bottom, rgb(51,51,51) 31%, rgb(68,68,68) 60%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.31, rgb(51,51,51)),
	color-stop(0.6, rgb(68,68,68))
);
}

.menusub2 {

}

.menusub3 {

}


.menusub:hover {
	width:100%;
	
	color:black !important;
	background-image: linear-gradient(bottom, rgb(255,119,0) 8%, rgb(214,214,79) 60%);
background-image: -o-linear-gradient(bottom, rgb(255,119,0) 8%, rgb(214,214,79) 60%);
background-image: -moz-linear-gradient(bottom, rgb(255,119,0) 8%, rgb(214,214,79) 60%);
background-image: -webkit-linear-gradient(bottom, rgb(255,119,0) 8%, rgb(214,214,79) 60%);
background-image: -ms-linear-gradient(bottom, rgb(255,119,0) 8%, rgb(214,214,79) 60%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.08, rgb(255,119,0)),
	color-stop(0.6, rgb(214,214,79))
);
}

.cube {
	width: 30%;
	height: 120px;
	background-color: #444444;
	border: 1px solid #999999;
	margin: 10px;
	float: left;
}

a{
	color: white;
	text-decoration:none;
}

.menusublink {
	font-size: 18px;
}



.leftPanelExamples{
	width:30%;
	float:left;
	padding-bottom:50px;
} 
.rightpanelExamples{
	
	width:70%;
	float:left;
}

.borderPanel{
	border:4px solid #999999;
	border-radius: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom:5px;
} 

.controlOverviewPanel{
	margin-left:5px;
	background-color:#333333;
}

.controlOverview{
	
}

.controlOverviewPanel .BLabelDecorator{
	font-size:16px;
	color:#eeeeee;
}

.controlOverviewPanel input,select{
	
}

.controlOverviewtitleContainer
{	
	font-size:15px;
	padding:4px;
	border-bottom: 4px solid #999999;
	background-color:#222222;
	font-weight:bold;
	font-variant:small-caps;
	color:white;
}

.controlOverviewtitle{
	float:left;
}

.controlOverViewShowCodeButton{

line-height:12px;
height:20px;
float:right;
}

.controlOverViewShowCodeButton input{
}
 
.exampleTile{
	border: 1px solid #555555;
	border-radius: 3px;
	margin:4px;
	padding:4px;
	color:white;
	background-color:#222222;
	text-align:left;
	font-size:15px;
	font-weight:bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.exampleTile:hover{cursor:pointer;background-color:#222222;border:1px solid lightblue;}


.ExampleTileSimple2 .BDataGridTilePlaceHolder{
	width:25%;
}

.ExampleTileSimple2ItemRender{
	padding:2px;
	border:1px solid white;
	cursor:pointer;
	margin:2px;
}

.ExampleTileSimple2ItemRender2{
	padding:2px;
	border-radius:8px;
	border:2px solid white;
	margin:1px;
}

.ExampleTileSimple2ItemRenderBox2{
	float:left;
}

.ExampleTileSimple2ItemRenderBox{
	width:50px;
	height:50px;
	margin:2px;
	float:left;
	border:1px solid lightblue;
}

.ExampleTileSimple2ItemRenderSelected{
	background-color:#999999;
}

.ExampleTileSimple2ItemRenderMouseover{
	border:1px dotted #999999
}

.BValidatorControlValidated{
	border:1px solid green;
	background-color:green;
}

.BModal{
	border:4px solid #666666;
	width:60%;
}

.BModalControlBar {
height: 20px;
width: 100%;
background-color: #333333;
border-bottom: 4px solid #666;
font-size:13px;
}

.codeModalText{
	font-size:11px;
}



.examplesCustomItemRender{
	padding-left:0;padding-top:0;background-color:#555555;
}

