body {
	letter-spacing: .09px;
	font-size: 14px;
	font-weight: 200;
	letter-spacing: 0.75px;
	line-height: 19px;
	font-family: verdana;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color:#a58266;	 
}

.BPage{
	font-family:Helvetica, Arial, sans-serif;
	background-color:transparent !important;
}


a{
	color: white;
	text-decoration:none;
}

a:hover{
	color:#8ce0a5;
}


.template{
	background-color:a58266;
}

.topBar{height:50px; background-color:#b99870;width:100%;}

.logo{width:48px; float:left;height:44px; float:left;margin-left:4px;margin-top:2px;background-image: url(../images/banana.png);}

.pageContent{
	padding: 10px;
	top:50px;
	border-radius: 15px;
	width: 100%;
	max-width:950px;
	left: 0;
	right: 0;
	margin: auto;
	height: auto;
	margin-top: 30px;
	border-bottom-left-radius: 0px;	
}

.footer {
	background-color: black;
	width: 100%;
	height: 70px;
	bottom: 0;
	margin:0px;
	float:left;
	margin-top:550px;	
}

.title{
	color:white;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:-0.05em;
	font-size:2.3em;
	margin-bottom:5px;
}

.subTitle {
	font:1.5em/1.5em 'Chivo', Helvetica, Arial, sans-serif;
	color:#333333;
	float:left;
}


.menugrid{
	color:white;
	margin-top:50px;
	margin-bottom:50px;
	font-size:14px;
	padding:0;
	float:left;
}

.menuitem{
	
	border-radius:5px;
	margin:30px;
	float:left;
	cursor:pointer;
}

.menuitemHover{
	background-color:#b99870;
}

.menuExample{
	background-image: url(../images/example.png);
	width:138px;
	height:138px;
}

.menuDownload{
	background-image: url(../images/download.png);
	width:138px;
	height:138px;
}

.menuDocumentation{
	background-image: url(../images/documentation.png);
	width:138px;
	height:138px;
}


.summaryText {
	line-height: 25px;
	margin-top: 10px;
	font-size: 14px;
	color:white;
	width:100%;
	float:left;
}

.toplink{
letter-spacing: 2.75px;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	margin: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}



.headerButtons{
	
	float:right;
	height:5px;font-size:15px;font-weight:100;
	margin-top:15px;
}






.exampleTitle{
	color:white;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:-0.05em;
	font-size:2.1em;
	width:100%;
	font:1.5em/1.5em 'Chivo', Helvetica, Arial, sans-serif;
	color:#333333;
	
}

.exampleTile{

	border-radius: 3px;
	margin-bottom:4px;
	padding:4px;
	color:white;
	text-align:left;
	font-size:15px;
	font-weight:bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.exampleTile:hover{
cursor:pointer;
background-color:#866a53;
}


.controlOverviewPanel{
	margin-left:5px;
	background-color:
	color:black;
	
}

.toppanelExamples{
	margin-bottom:4px;
	margin-bottom:30px;
}

.centerpanelExamples{
	margin-bottom:4px;
	margin-bottom:30px;
}

.leftPanelExamples{
	width:20%;
	float:left;
	padding-bottom:50px;
} 
.rightpanelExamples{
	
	width:70%;
	float:left;
}

.borderPanel{
	
	border-radius: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom:20px;
}

.controlOverviewtitleContainer
{	
	padding:2px;
	font-weight:bold;
background-color:#90725a;
	color:white;
	font:1.0	em 'Chivo', Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
	letter-spacing:-0.05em;
}


.controlOverview{
	color:#111111;
	font-size:14px;
	letter-spacing:0.09em;
}



.controlOverviewPanel input,select{

}


.controlOverviewtitle{
	float:left;
}

.controlOverViewShowCodeButton{

line-height:12px;
height:22px;
cursor:pointer;
float:right;
}






















li {
	color: #111111;
	line-height: 25px;
	font-size: 17px;
	list-style: square;
	letter-spacing: 2.2px;
}

ul {
	margin: 0;
}








.ExampleTileSimple2 .BDataGridTilePlaceHolder{
	width:25%;
}

.ExampleTileSimple2ItemRender{
	padding:2px;
	border:1px solid #c9b49a;
	cursor:pointer;
	margin:2px;
}

.ExampleTileSimple2ItemRender2{
	padding:2px;
	border-radius:8px;
	border:2px solid #c9b49a;
	margin:1px;
}

.ExampleTileSimple2ItemRenderBox2{
	float:left;
}

.ExampleTileSimple2ItemRenderBox{
	width:50px;
	height:50px;
	margin:2px;
	float:left;
	border:1px solid #c9b49a;
	background-color:#a68e72;
}

.ExampleTileSimple2ItemRenderSelected{
	background-color:#288cc6;
}

.ExampleTileSimple2ItemRenderMouseover{
	border:1px dotted white;
}


.downloadIntroText{
	margin-top:20px;
	letter-spacing:0.09em;
	font:1.1em/1.1em 'Chivo', Helvetica, Arial, sans-serif;
}



.BValidatorControlValidated{
	border:1px solid green;
	background-color:green;
}

.BModal{
	border:1px solid white;
	width:60%;
	background-color:#b99870;
}

.BModalControlBar {
height: 20px;
width: 100%;
color:white;

font-size:15px;
}

.codeModalText{
	font-size:11px;
}

.BModalCover{
	background-color:#524133;
	opacity:0.7;
	filter:alpha(opacity=70); 
}
.examplesCustomItemRender{
	padding-left:0;padding-top:0;
}





.BDataGridTreeEmptyNode{
	background-image: url(../../images/nodeempty.png);
}
.BDataGridTreeLoader{
	background-image: url(../../images/ajax-loader-small.gif);
}
.BDataGridTreeLoadNextButton{}
.BDataGridTreeLoadNextButtonRoot{}
.BDataGridTreeNodeClosed{
	background-image: url(../../images/nodeclosed.png);
}
.BDataGridTreeNodeClosed:hover{
	background-image: url(../../images/nodeclosedmouseover.png);
}
.BDataGridTreeNodeOpen{
	background-image: url(../../images/nodeopen.png);
}
.BDataGridTreeNodeOpen:hover{
	background-image: url(../../images/nodeopenmouseover.png);
}
.BDataGridTreeNodeEmpty{
	background-image: url(../images/../nodeempty.png);
}
.BDataGridTreeItemRender{}
.BDataGridTreeItemRender:hover{
	border:1px solid lightblue;
}
.BDataGridTreeItemRenderSelected{
	border:1px solid white; 
	background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255, 0.2));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255, 0.2));
}

