html { height: 101%; }

.DemoTemplate{
	width:80%;
	margin:auto;
	margin-top:20px;
	border:2px solid #666666;
	border-top-left-radius:10px;
	border-top-right-radius:10px;


}

.DemoTopContainer{padding:10px;
}
.DemoTopContainer a{
	font-weight:bold;
	color:white;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:-0.05em;
	font-size:1.0em;
	
}

.DemoPageContent{
	
}

.DemoHomeTile{
	background-color:#444444;
	border-right:1px solid #555555;
	border-top:1px solid #555555;
	margin:0px;
	border-radius:0px;	
    position:relative;
     -moz-box-sizing: border-box;
 	-ms-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
    
}

.BDemoHomeTileBig{
	z-index:999999;
	left:0;
	top:0;
	background-color:#444444;
}

.DemoHomeTileTitle{
	
	font-weight:bold;
	color:white;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:-0.05em;
	font-size:1.0em;
	margin:5px;
	text-align:center;
}

.DemoHomeTileLinkContainer{
	bottom:8px;
	position:absolute;
	width:100%;
	text-align:center;
}

.DemoHomeTileLinkContainer a{
	color:black;	
	background-color:orange;
	padding:5px 20px 5px 20px;
	border-radius:8px;
	text-transform:uppercase;
	text-decoration:none;
	border:1px solid #444444;
	cursor:pointer;
}

.DemoHomeTileLinkContainer a:hover{
	background-color:#1B7EE0;
}

.DemoHomeTileContents{
	background-color:#eeeeee;
	width:auto;
	left:0;
	word-wrap:break-word;
	right:0;
	top:0;
	bottom:0;
	border:0px solid #888888;
	margin:10px;
	margin-top:50px;
	margin-bottom:40px;
	border-radius:10px;
	position:absolute;
	padding:5px;
	color:#333333;
	font-size:17px;
}

.DemoHomeTileBigContents{

	background-color:#444444;
	padding:0;
	color:#eeeeee;
	border:1px solid #777777;
	border-radius:0px;
}


.DemoTableDataGrids th{
	font-size:15px;
}

.DemoTableDataGrids tr{
	font-size:15px;
}

.DemoTableDataGrids a{
	background-color:orange;
}
.DemoTileDataGrids a{
	background-color:#2BFC2E;
}

.DemoTreeDataGrids a{
	background-color:#C04DFA;
}

.BTabSliderLink{
	font-size:15px!important;
}

.youtubetile{
	border:1px solid #555555;
	margin:1px;
}

.player{
	background-color:#222222
}